<!DOCTYPE html>
<html>
  <head>
    <title>RailsActioncableChatApp</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="header">
      <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <%= link_to 'App', root_path, class: 'navbar-brand' %>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
              <% if user_signed_in? %>
                <li><a href='javascript:;'>Hello! <%= current_user.name %></a></li>
                <li class="<%= (params[:controller] == 'devise/registrations' && params[:action] == 'edit') ? 'active' : '' %>">
                  <%= link_to 'Edit profile', edit_user_registration_path %>
                </li>
                <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
              <% else %>
                <li class="<%= (params[:controller] == 'devise/sessions' && params[:action] == 'new') ? 'active' : '' %>">
                  <%= link_to 'Login', new_user_session_path %>
                </li>
                <li class="<%= (params[:controller] == 'devise/registrations' && params[:action] == 'new') ? 'active' : '' %>">
                  <%= link_to 'Register', new_user_registration_path %>
                </li>
              <% end %>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>
    </div>
    <div class="container-fluid site-container">
      <%= flash_messages %>
      <%= yield %>
    </div>
    <audio id="chatAudio"><source src="/sounds/notification.mp3" type="audio/mpeg"></audio>
  </body>
</html>
